body{
    background-color:lightgray;
}
option{

}
h1{
    color:green;
    font-family:"Arial Narrow",sans-serif;
    font-style:italic;
    animation-name:textColor;
    animation-duration:4s;
    animation-iteration-count:infinite;
}

@keyframes textColor{
    from {background-color: palegreen;}
    to {background-color: lightpink;}

    /*to {background-color: red;}*/
}